<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" routerLink="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="userService.isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/list">List</a>
      </li>
      <li *ngIf="userService.isLoggedIn()" class="nav-item">
        <a class="nav-link logout-link" (click)="userService.logout()">Logout</a>
      </li>
      <li *ngIf="!userService.isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li *ngIf="!userService.isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>

    <span *ngIf="userService.isLoggedIn();else guest" class="navbar-text">Welcome {{ userService.getUser()?.name }}!</span>
    <ng-template #guest>
      <span class="navbar-text">Welcome guest!</span>
    </ng-template>
  </div>
</nav>
