<app-header></app-header>

<main role="main" class="container">
    <div class="jumbotron">
        <h3>Create chat</h3>

        <hr class="mb-4">
        
        <div class="row mb-4">
            <div class="col-12">
                <form (ngSubmit)="submit()" #newForm="ngForm" class="form-inline">
                    <div class="form-group mb-2">
                        <span>New chat name </span>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <input name="name" id="chatName" class="form-control" placeholder="Name" [(ngModel)]="chat.name" #name="ngModel" required minlength="3">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2" [disabled]="!newForm.form.valid">Create</button>
                </form>
            </div>
        </div>

    </div>
</main>
