<app-header></app-header>

<main role="main" class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-12">
                <h3>{{ chat?.name }}</h3>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <strong>Owner:</strong> {{ chat?.owner }}
            </div>
        </div>

        <hr class="mb-4">
    
        <div class="row mb-4">
            <div class="col-12">
                <ul class="messages">
                    <li *ngFor="let message of messages">{{ message }}</li>
                </ul>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <form class="row">
                    <div class="col-12 col-sm pr-sm-0">
                        <input name="message" autocomplete="off" placeholder="Enter your message here" class="form-control" [(ngModel)]="message">
                    </div>
                    <div class="col-12 col-sm-auto">
                        <input type="button" value="Send" class="btn btn-primary mb-2 btn-block" (click)="sendMessage()">
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>