<app-header></app-header>

<main role="main" class="container">
  <div class="jumbotron">

    <h3>Chat list</h3>

    <hr class="mb-4">

    <a class="btn btn-primary" routerLink="/new">Create new chat</a>

    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Owner</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataSource; let i = index">
          <th scope="row">{{ i+1 }}</th>
          <td>{{ item.name }}</td>
          <td>{{ item.owner }}</td>
          <td>
            <a class="btn btn-success btn-sm" (click)="open(item)">Open</a>
            <a *ngIf="userService.isChatOwner(item.owner)" class="btn btn-danger btn-sm" (click)="delete(item)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</main>
