<app-header></app-header>

<main role="main" class="container">
    <div class="starter-template">
        <h1>Hello there!</h1>
        <p class="lead">This is test multi-room chat app.<br> Used technologies/approaches: Node.js, PostgreSql, Sequelize, Socket.io, Angular, Rest Api</p>
    </div>
</main>
