<app-header></app-header>

<form (ngSubmit)="submit()" #registerForm="ngForm" class="form-signup">
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
    
    <label for="inputName" class="sr-only">User name</label>
    <input name="name" id="inputName" class="form-control" placeholder="User name" [(ngModel)]="credentials.name" #name="ngModel" required minlength="3" autofocus>
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Please enter valid name
    </div>
    
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" [(ngModel)]="credentials.password" #password="ngModel" required minlength="3">
    <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
        Please enter valid password
    </div>
    
    <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!registerForm.form.valid">Sign up</button>
</form>
